{% extends "base.html" %}

{% block title %}Ahmed Khalf{% endblock %}

{% block head %}
<style>
  header p {
    margin-bottom: 0;
  }

  header h1 {
    margin: 0 0 8px 0;
  }

  header a {
    color: var(--text) !important;
    margin-right: 20px;
  }

  header {
    margin-bottom: 3rem;
  }

  a {
    display: inline;
  }

  .date-posted {
    margin: 8px 0 20px 0;
    font-size: 0.95rem;
    line-height: 1;
  }
</style>
{% endblock %}

{% block content %}
  <header>
    <p>Hi there &#x1F44B;, I'm</p>
    <h1>Ahmed Khalf</h1>
    <a href="https://www.github.com/ahmedkhalf" target="_blank">[GitHub]</a>
    <a href="https://www.linkedin.com/in/ahmed-khalf/" target="_blank">[LinkedIn]</a>
  </header>
  {% for post in posts %}
    <div>
      <a href="{{post.href}}">{{post.title}}</a>
      <p class="date-posted">{{post.date_published | date | safe}}</p>
    </div>
  {% endfor %}
{% endblock %}
