{% extends "base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block head %}
<style>
  header {
    display: grid;
    grid-template-columns: 1fr min(45rem,90%) 1fr;
    text-align: unset !important;
    padding: 1.5rem 0 2rem  !important;
  }

  .header-content {
    display: block;
    grid-column: 2;
  }

  header p {
    display: inline;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
</style>
{% endblock %}

{% block header %}
<header>
  <div class="header-content">
    <a href="/">&#8592; Home</a>
    <h1>{{post.title}}</h1>  
    <p>Published on {{post.date_published | date | safe}}</p>
  </div>
</header>
{% endblock %}

{% block content %}
{{post.content | safe}}
{% endblock %}
